
#content {
  /* /* height: 40em;
  display: flex; */
  align-items: center;
  justify-content: center;
}

#content {
  text-align: center;
}

.posts_listing {
  padding-left: 0;
  margin-top: 10%;
  text-align: center;
  display: inline-block;
}

.list-item {
  padding-left: 0;
  text-align: left;
  padding-top: 15px;
}

#landing .list-item {

  text-align: center;
}

.post {
  padding-right: 1em;
}

.header-img {
  width: 100%;
  height: 100%;
  border-radius: 26px;
}
.blog-post {
  padding-right: 1em;
}

.blog-post-content img {
  width: 100%
}

.highlight {
  padding: 10px 0 10px 0;
  font-size: 15px;
}

.highlight pre {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  border-radius: 8px;
}

.contact-options {
  text-align: center;
}
.contact-options .social-icons {
  font-size: 30px;
}

.social-icons a {
  padding: 0 10px;
}

.social-icons svg:hover,
.list-item:hover,
.navbar li div:hover,
#page-title:hover {
  transform: scale(1.2);
}

h1 {
  font-size: 31px;
}

#nav {
  text-align: center;
}

.navbar {
  padding-left: 0;
  list-style-type: none;
}
.navbar li {
  display: inline;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 12px;
}

.navbar li div {
  display: inline-block;
}

html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1 0 auto;
  padding-bottom: 40px;
}

.navbar a{
  font-weight: bold;
  padding: 0 10px;
}

.navbar a:hover{
  text-decoration: underline;
}

.footer {
  padding-bottom: 15px;
  height: 84px;
}

.date {
  font-size: 14px;
}

.blog-post-subheader span {
  margin-right: 15px;
  margin-bottom: 15px;
}

@media (max-width: 515px) {
  .date-time-title {
    display: block;
  }

  .list-item {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  #landing .list-item {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 0;
  }
}


html {
  background-color: #242729 !important;
}

body {
  color: white;
  background-color: #242729 !important;
}

a, .navbar a {
  color: #8be9fd !important;
}

.social-icons a, h1 a {
  color: white !important;
}
html.light {
  background-color: white !important;
}

html.light body {
  color: black;
  background-color: white !important;
}

html.light a,
html.light .navbar a {
  color: #a35dff !important;
}

html.light .social-icons a,
html.light h1 a,
html.light .list-item a {
  color: black !important;
}

h1 { padding: 25px 0px 15px 0px }

.blog-post h1 {
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.blog-post-subheader {
  margin-bottom: 40px;
  color: #50fa7b;
  font-weight: bold;
  font-size: 20px;
}

li {
  padding: 5px 0;
}

html.light .blog-post-subheader {
  color: #5bd67a;
}

h2 { padding: 20px 0px 10px 0px }

h3, h4, h5 {
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltip-text {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 10px 0;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -60px;
  font-size: 15px;
}

.tooltip .tooltip-text::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
}
