---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Import partials from `sass_dir` (defaults to `_sass`)
@import "bootstrap",
				"syntax-highlighting"     
        
;






.body {
	border: 1px solid black;
}

.blog-title {
	font-size:25px;
}

/*--------Now We are cooking*/


#heading {
	color: white;
	
}

.jumbotron {
	
 	text-shadow: 0 1px 2px rgba(0,0,0,.7);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

	



}


#hidden-contact{
	margin-left:15px;
}

/*--------------*/

.jumbo {
	
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    position: absolute;
    overflow: hidden;

 	
 	
 
	
	img{
  	position: absolute;
		left: 0px;
		right: 0px;
		top: -9999px;
		bottom: -9999px;
		margin: auto 0px;
  	
  	width:100%;	  

	}
      
	 


}
      
.read-more {
	margin-top: -20px;
}      
      
.blog {

}
      
.blog-more {
	width: 200px;
}
    
.center {
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
      

.photo {
	padding-bottom:30px;
}
      
 .favorites {
 	
 	margin-bottom: 30px;
 	
 	p {
 		padding-top:15px;
 	}
 
 	img {
  max-width: 280px;
	}
 	
 }
 	
 


.youtube {
	margin-top: 25px;
	
	width: 160px;
}      
      
.space {
	margin: 35px 0px 35px 0px
}

.color {
  background-color:#00E6B8;
  padding: 20px 0px
}

.color-2{
	background-color:#FFCC66;
	padding: 10px 0px 20px 0px;
}


.article p {
	margin-bottom: 20px;
	font-size: 16px;
	font-weight: 300;
	line-height: 1.4;
}


.about{ 
  
  h2 {
    font-size: 45px;
  	margin-top: 10px;
  	margin-bottom: 30px;
  }

  color: white;
  text-shadow: 0 1px 2px rgba(0,0,0,0.2);
}


.portfolio {
  margin-bottom: 20px;
}

.portfolio h1 {
  margin-bottom: 30px;
}
footer {
  background-color: gray;
  color: white;

	.row{
		margin-left: 0px;
		margin-right:0px;
	}

}

footer ul {
  margin-bottom: 0px;
  list-style-type: none;
}

footer a {
  color:white;
}



@media (max-width: 500px) {
	.jumbotron {
	 margin-left: -75px;
	}
	
	
}

@media (min-width: 500px) {
	
	
	#heading{
		margin-bottom: 50px;
	}

}


@media (min-width:768px) {
  
  .blog {
  	margin-top: 30px;
  }
  
  .favorites img {
    max-width: 100%;
  }

	.blog-sidebar {
		padding-top:30px;
	}
	
} 

@media (min-width:992px) {
  
  
  #heading{
  	font-size:88px;
  }
  
  .caption button {
  	margin-bottom:10px;
  	
  }
  
  .favorites img {
    max-width: 240px;
  }
	
	.youtube {
		margin-bottom: 8px;
	}	

  footer li {
   max-width: 50px
  }
} 




@media (min-width:1200px) {
  .favorites img {
    max-width: 270px;
  }

	.youtube {
		margin-bottom: 20px;
	}	
	
	  .caption button {
  	margin-bottom:97px;
  }
	
	
}


