---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

.jumbo {
	
	margin-bottom: 30px;
	color: white;
 	text-shadow: 0 1px 2px rgba(0,0,0,.5);
 	background-image: url(images/me.jpg);
 	background-size: cover;
	
	img{
		
  	width:100%;	  
    
	}
      
}
      
.read-more {
	margin-top: -20px;
}      
      
.blog {
	margin-top: 50px;
}
      
.blog-more {
	width: 200px;
}
    
.center {
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
      
.navbar-nav > li > a {
	padding-top: 31px;
	padding-bottom: 31px;
} 
.navbar-brand {
	line-height: 50px;
}
      
.photo {
	padding-bottom:30px;
}
      
 .favorites {
 	
 	p {
 		padding-top:15px;
 	}
 	
 }
 	
 


.youtube {
	margin-top: 25px;
	
	width: 160px;
}      
      
.space {
	margin: 35px 0px 35px 0px
}

.color {
  background-color:#00E6B8;
  padding: 20px 0px
}


.article p {
	margin-bottom: 20px;
	font-size: 16px;
	font-weight: 300;
	line-height: 1.4;
}


.about{ 
  
  h2 {
    font-size: 45px;
  }
  
  li {
  font-size:25px;
  font-weight: 500;
  }
  color: white;
  text-shadow: 0 1px 2px rgba(0,0,0,0.2);
}
.favorites img {
  max-width: 280px;
}

.portfolio {
  margin-bottom: 20px;
}

.portfolio h1 {
  margin-bottom: 30px;
}
footer {
  background-color: gray;
  color: white;
}

footer ul {
  margin-bottom: 0px;
  list-style-type: none;
}

footer a {
  color:white;
}

@media (min-width:768px) {
  .favorites img {
    max-width: 100%;
  }

	.blog-sidebar {
		padding-top:30px;
	}
	
} 

@media (min-width:992px) {
  .favorites img {
    max-width: 240px;
  }
	
	.youtube {
		margin-bottom: 8px;
	}	

  footer li {
   max-width: 50px
  }
} 

@media (min-width:1200px) {
  .favorites img {
    max-width: 270px;
  }

	.youtube {
		margin-bottom: 20px;
	}	
	
}


// Import partials from `sass_dir` (defaults to `_sass`)
@import

        "bootstrap",
				"syntax-highlighting"     
        
;
