<footer>
   <div class="container">
   	<div class="row">
  	 <div class=" col-xs-3 col-sm-2 col-md-1">  
   	
   <img class="img-responsive contact" src="/images/linkedin.png">
   <img class="img-responsive contact" src="/images/github1.png">
   <img class="img-responsive contact" src="/images/twitter.png">
   
  </div>
  <div class="col-xs-6 col-sm-8" id="contact">
   <h3>Need a <br>Website?</h3>
  <p class="lead hidden-xs"><a href="mailto:chrislabargedev@gmail.com">ChrisLaBargeDev@gmail.com</a></p>
   
   <a href="mailto:chrislabargedev@gmail.com">
   	<button class="btn btn-lg btn-warning hidden-xs">Email Me Today</button>
		<button class="btn btn-md btn-warning visible-xs-inline-block">Email Me Today</button>   
   <a>
  </div> 
   
   </div> 
 </div>
 </footer>
