<footer>
   <div class="row">
   <div class=" col-xs-4 col-sm-2">  
   <ul>
     <li><img class="img-responsive" src="http://www.ahernslawyers.com.au/img/template/linkedin-icon.png"></li>
     <li><img class="img-responsive" src="https://g.twimg.com/Twitter_logo_white.png"></li>
     <li><img class="img-responsive" src="http://png-2.findicons.com/files/icons/2779/simple_icons/4096/github.png"></li>
   </ul>
  </div>
  <div class="col-xs-8 center">
   <h2>Need a Website?</h2>
  <p class="lead"><a href="mailto:chrislabargedev@gmail.com">ChrisLaBargeDev@gmail.com</a></p>
   <a href="mailto:chrislabargedev@gmail.com"><button class="btn btn-lg btn-warning">Email Me Today</button><a>
  </div> 
   
   </div> 
 </footer>
