<footer>
   <div class="row">
   <div class=" col-xs-3 col-sm-2">  
   
   <img class="img-responsive" src="/images/linkedin.png">
   <img class="img-responsive" src="/images/github1.png">
   <img class="img-responsive" src="/images/twitter.png">
   
  </div>
  <div class="col-xs-8 center">
   <h3>Need a Website?</h3>
  <p class="lead"><a href="mailto:chrislabargedev@gmail.com">ChrisLaBargeDev@gmail.com</a></p>
   <a href="mailto:chrislabargedev@gmail.com"><button class="btn btn-lg btn-warning">Email Me Today</button><a>
  </div> 
   
   </div> 
 </footer>
