 <div class="jumbotron" style="background-image: url('/images/me2.jpg');" >
				
			
				
	   <div class="container">
	   	<div class="row"> 
	   	<div class="col-xs-6 col-sm-5 col-md-5 col-md-offset-1 col-lg-offset-0 caption">	
	   		<h1 id="heading">Chris<br> LaBarge</h1>	
		 
		 	<a href="/about">	<button class="btn btn-lg btn-warning">About Me</button></a>
		 	<a href="#contact">	<button class="hidden-xs btn btn-lg btn-color-green" id="hidden-contact"> Contact </button></a>
		 	</div>
		 	</div>
			</div>
		
		 </div>