

<div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-3 col-md-offset-1 blog-sidebar side-about">
	<div class="sidebar-module center">
	<a href="/about">	
		<img src="http://s15.postimg.org/e6wmnlf57/image.jpg" class="img-circle side-me" width="150px;">
	</a>
	<a href="/about">	<h2>Chris LaBarge</h2></a>
		<p>I am a 27 year web developer living in Albany, NY</p>
	<!--	<p class="learn-more"><a href="/about">Learn More</a></p> -->
	</div>
</div>	

<div class="hidden-xs hidden-sm col-md-3 col-md-offset-1 blog-sidebar follow">
<div class="sidebar-module center">

	<div class="side-icons">
	<h4>Follow Me</h4>
	
<a href="https://www.linkedin.com/in/chrislabarge" style="text-decoration: none;">	 
	<img  src="/images/linkedin.png">
</a>
 <a href="https://github.com/chrislabarge" style="text-decoration: none;"> 
   <img  src="/images/github1.png">
 </a> 
  <a href="https://twitter.com/clabvessels" style="text-decoration: none;"> 
   <img  src="/images/twitter.png">
	</a>
	</div>

	
</div>
</div><!-- /.blog-sidebar -->

<div class="hidden-xs hidden-sm col-md-3 col-md-offset-1">
<a href="/blog" style="text-decoration: none;">
	<button class="btn btn-lg center blog-button btn-info">View more Blog Posts</button>
</a>	
</div>
