<div class="col-xs-6 col-xs-offset-3 col-md-3 col-md-offset-1 blog-sidebar side-about">
	<div class="sidebar-module center">
		<img src="http://s15.postimg.org/e6wmnlf57/image.jpg" class="img-circle side-me" width="150px;">
		<h2>Chris LaBarge</h2>
		<p class="lead">I am 27 year web developer living in Albany, NY <br><a href="#">Learn More</a></p>
	</div>
</div>	

<div class="hidden-xs hidden-sm col-md-3 col-md-offset-1 blog-sidebar follow">
<div class="sidebar-module center">

	<div class="side-icons">
	<h4>Follow Me</h4>
	
	 <img  src="/images/linkedin.png">
   <img  src="/images/github1.png">
   <img  src="/images/twitter.png">
	
	</div>
</div>

</div><!-- /.blog-sidebar -->