<div class="col-xs-6 col-xs-offset-3 col-md-3 col-md-offset-0 blog-sidebar">
	<div class="sidebar-module center">
		<img src="http://s15.postimg.org/e6wmnlf57/image.jpg" class="img-circle" width="150px;">
		<h4>Chris LaBarge</h4>
		<p>I am 27 year web developer living in Albany, NY <a href="#">Learn More</a></p>
	</div>
<div class="sidebar-module center">

	<div class="side-icons hidden-xs hidden-sm">
	<h4>Follow On</h4>
	
	 <img  src="/images/linkedin.png">
   <img  src="/images/github1.png">
   <img  src="/images/twitter.png">
	
	</div>
</div>

</div><!-- /.blog-sidebar -->