---
layout: default
comments: true
---
	
		 
	<div class="container blog-container">
    <div class="row first-row">
     
        <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-0 blog-main">

          <div class="blog-post">
          
 	         <div class="post">

  					<header class="post-header">
					    <h1 class="post-title">{{ page.title }}</h1>
					    <p class="post-meta blog-text ">
					    	{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} by <a href="/about">{{ page.author }}</a>{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}
					  	</p>
  						
  						{% assign tagStr = '' %}
							{% capture url %}{{ site.url }}{{ page.url }}{% endcapture %}
							{% if page.shortUrl != null %}
							{% assign url = page.shortUrl %}
							{% for tag in page.tags %}
							{% capture tagStr %}{{ tagStr }},{{ tag }}{% endcapture %}
							{% endfor %}
							{% endif %}

							<h4>Share This Blog Post</h4>
								<div class="social-share side-icons">
									<a class="social-share-element" id="social-twitter" 
										 href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ url }}&via=clabvessels&hashtags={{ tagStr }}" 
										 target="_blank" title="Share this post on Twitter"><img src="/images/twitter.png"></a>
									<a class="social-share-element" id="social-facebook" 
										 href="https://www.facebook.com/sharer/sharer.php?t={{ page.title }}&u={{ url }}" 
										 target="_blank" title="Share this post on Facebook"><img src="/images/facebook500.png"></a>
									<a class="social-share-element" id="social-google" 
										 href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}"
										 target="_blank" title="Share this post on Google Plus"><img src="/images/googleplus.png"></a>
									<!--<a class="social-share-element" id="social-linkedin" href="http://www.linkedin.com/shareArticle?mini=true&title={{ page.title }}&url={{ url }}&source=http%3a%2f%2fzhangwenli.com" target="_blank" title="Share this post on LinkedIn"></a> -->

								</div> 
  						
  						
  					</header>
							
						
				    {{ content }}
					  

					</div>
        
        </div><!-- /.blog-post -->

     
				
				<div class="container-bottom"id="disqus_thread"></div>
					<script type="text/javascript">
    			/* * * CONFIGURATION VARIABLES * * */
    			var disqus_shortname = 'chrislabarge';
    
  			  /* * * DON'T EDIT BELOW THIS LINE * * */
    			(function() {
       		 var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
       		 dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        	 (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    			})();
					</script>
					<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>						
						
					
					
        </div><!-- /.blog-main -->
				

				
				
   {% include sidebar.html %}
    </div>
  
  </div>  
  
