<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
	
		{% include nav.html %}
	
     <!--		<div class="jumbotron" style="background-image: url('/images/movies.jpg') ; "> -->
				
				
		
	
		 
		 <div class="container">
    <div class="row" style="padding-top:20px;">
     
        <div class="col-sm-8 blog-main">

          <div class="blog-post">
          

          {{ content }}
        
          </div><!-- /.blog-post -->

          <nav>
            <ul class="pager">
              <li><a href="#">Previous</a></li>
              <li><a href="#">Next</a></li>
            </ul>
          </nav>

        </div><!-- /.blog-main -->

   {% include sidebar.html %}
    </div>
  
  </div>  
  


   
        
   
    {% include footer.html %}

  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script> 
     
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  </body>

</html>
