<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
		 
		 {% include nav.html%}
		 <div class="jumbotron" style="background-image: url('/images/me.jpg');" >
				
			<!--	<img src="/images/me.jpg"> -->
				
	   <div class="container">
	   	<div class="row"> 
	   	<div class="col-xs-6 col-sm-5 col-md-4 caption">	
	   		<h1 id="heading">Chris<br> LaBarge</h1>	
		 
		 		<button class="btn btn-lg btn-warning">About Me</button>
		 		<button class="hidden-xs btn btn-lg btn-warning" id="hidden-contact"> Contact </button>
		 	</div>
		 	</div>
			</div>
		
		 </div>
		
	

   
        {{ content }}
   
    {% include footer.html %}
    
  
  	<!--This is for getting query on your site, because bootstrap needs it-->
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script> 
     
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  </body>

</html>
